
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <!DOCTYPE html>




<style> 

body { font: 12px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
   
}

</style>




    <body>
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>


<h1 id="data source">data source:  baseball</h1>
           <h1 id="title"> title</h1>



     <form name="form" method="post" action=".">
{% csrf_token %}


sampling method:
  <select name="sampling"  id  ="sampling">
    <option value="1">random</option>
    <option value="2">adaptive</option>
</select>
  <br><br>


  <div id ="number_of_cluster_div">
number of cluster you want to keep


  <select name="number_of_cluster" id ="number_of_cluster" >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    </select>
</div>

<br>



visualization method
    <select name="method1">
    <option value="pca">pca</option>
    <option value="mds_euclidian">mds_euclidian</option>
  <option value="mds_cosine">mds_cosine</option>
    <option value="mds_correlation">mds_correlation</option>
     <option value="isomap">isomap</option>

</select>

<br><br>
dimension reduction
   <select name="if_reduction", id ="if_reduction">
   <option value="1">no</option>
    <option value="2">yes</option>
    
    </select>
<br><br>


<div id ="reduction_method_div">
redution method
   <select name="reduction_method"  id ="reduction_method"  >
   <option value="1">elbow method</option>
    <option value="2">choose your own dimension</option>
    
    </select>
    </div>
<br>



<div id ="choose_dimension_div">
the dimension you want to keep
  <select name="dimension" id ="choose_dimension" >
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    </select>
</div>






  <br><br>

  <input type="submit">

</form>










  

           
       

 <div id="container1" ></div>
      <div id="container2" ></div>
      <div id="container3" ></div>
      <div id="container4" ></div>





<script>



$("#choose_dimension_div").hide();
$("#container1").hide();
$("#reduction_method_div").hide();
$("#number_of_cluster_div").hide();




$("#if_reduction").val('1');
$("#choose_dimension").val('1');
$("#reduction_method").val('1');





  var ratio = {{ ratio|safe }};
   console.log(ratio)

    for(var i=0; i< ratio.length;i++)
{
  var tmp =  ratio[i];
    tmp.label = 2;
  // console.log(value);
}

ratio[0].label=1;


 scatterplot(ratio,"#container1");





d3.select("#sampling").on("change", function () {
    var value =this.options[this.selectedIndex].value;
    
    if( value == 1)
    {
      $("#number_of_cluster_div").hide();
     
    }
          
     else if(value ==  2)
     {
$("#number_of_cluster_div").show();
     }


      
 });



d3.select("#if_reduction").on("change", function () {
    var value =this.options[this.selectedIndex].value;
    


    if( value == 1)
    {

      $("#choose_dimension_div").hide();
      $("#reduction_method_div").hide();
      $("#container1").hide();
      d3.selectAll("#svg_bar").remove(); 
    }
          
     else if(value ==  2)
      {

     
      $("#reduction_method_div").show();
       //             $("#container1").show();


       // var sel = d3.select("#reduction_method");

       // var value1 = sel.options[sel.selectedIndex].value;


       var value1 = d3.select("#reduction_method").node().value; 

       console.log("sss!!!"+value1);

        if(value1 == 1)
        {
            $("#container1").show();
        }

        else if (value1 ==2)
        {
           create_bar_chart(ratio,"#container2");
           $("#choose_dimension_div").show();
        }



      
    }
      
 });


d3.select("#reduction_method").on("change", function () {
    var value =this.options[this.selectedIndex].value;
    
    if( value == 1)
    {

     $("#container1").show();
      $("#choose_dimension_div").hide();

       d3.selectAll("#svg_bar").remove(); 

    }
          
     else if(value ==  2)
      {

     
      $("#container1").hide();
      $("#choose_dimension_div").show();


 create_bar_chart(ratio,"#container2");


    }
      
 });







d3.select("#choose_dimension").on("change", function () {
    var threshold =this.options[this.selectedIndex].value;

console.log('threshold:   '+threshold);


    for(var i=0; i< ratio.length;i++)
{
  var tmp =  ratio[i];
  var value = tmp.pc;

  if(i<threshold)
    tmp.label = 1;
  else
    tmp.label = 2;
  // console.log(value);
}



 d3.selectAll("#svg_bar").remove(); 

 create_bar_chart(ratio,"#container2");
      
 });


    
   




function plot_g (data,container)
{
  var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;





// setup x 
var xValue = function(d) { return d.datax;}, // data -> value
    xScale = d3.scale.linear().range([0, width]), // value -> display
    xMap = function(d) { return xScale(xValue(d));}, // data -> display
    xAxis = d3.svg.axis().scale(xScale).orient("bottom");

// setup y
var yValue = function(d) { return d.datay ;}, // data -> value
    yScale = d3.scale.linear().range([height, 0]), // value -> display
    yMap = function(d) { return yScale(yValue(d));}, // data -> display
    yAxis = d3.svg.axis().scale(yScale).orient("left");

// setup fill color
var cValue = function(d) { return d.label;},
    color = d3.scale.category10();

// add the graph canvas to the body of the webpage
var svg = d3.select(container).append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// add the tooltip area to the webpage
var tooltip = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);




  // don't want dots overlapping axis, so add in buffer to data domain
  xScale.domain([d3.min(data, xValue)-1, d3.max(data, xValue)+1]);
  yScale.domain([d3.min(data, yValue)-1, d3.max(data, yValue)+1]);

  // x-axis
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .text("x axis");

  // y-axis
  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("y axis");

  // draw dots
  svg.selectAll(".dot")
      .data(data)
    .enter().append("circle")
      .attr("class", "dot")
      .attr("r", 3.5)
      .attr("cx", xMap)
      .attr("cy", yMap)
      .style("fill", function(d) { return color(cValue(d));}) 
      .on("mouseover", function(d) {
          tooltip.transition()
               .duration(200)
               .style("opacity", .9);
          tooltip.html(d["Cereal Name"] + "<br/> (" + xValue(d) 
          + ", " + yValue(d) + ")")
               .style("left", (d3.event.pageX + 5) + "px")
               .style("top", (d3.event.pageY - 28) + "px");
      })
      .on("mouseout", function(d) {
          tooltip.transition()
               .duration(500)
               .style("opacity", 0);
      });

  // draw legend
  var legend = svg.selectAll(".legend")
      .data(color.domain())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  // draw legend colored rectangles
  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  // draw legend text
  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d;})
}

var data1 = {{ data|safe }};

if(data1 != 'empty')
{

  console.log(data1)
plot_g(data1,"#container3");
}





    









function scatterplot(data,position)
{

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;




 var x = d3.scale.linear().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").tickValues([1, 2,3, 4, 5, 6, 7,8,9,10]);


    // .tickValues([1, 2,3, 4, 5, 6, 7,8,9,10]);

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(10);

// Define the line
var valueline = d3.svg.line()
    .x(function(d,i) { return x(i+1); })
    .y(function(d) { return y(d.pc); });
    
// Adds the svg canvas
var svg = d3.select(position)
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", 
              "translate(" + margin.left + "," + margin.top + ")");

// Get the data




  

    // Scale the range of the data

     // x.domain([0,1,2,3,4]);

     x.domain([d3.min(data, function(d, i) { return i+1; })     , d3.max(data,  function(d, i) { return i+1; }) ]);
    // x.domain(d3.extent(data, function(d, i) { return i; }));
    y.domain([0, d3.max(data, function(d, i) { return d.pc; })]);

    // Add the valueline path.
    svg.append("path")
        .attr("class", "line")
        .attr("d", valueline(data));

    // Add the scatterplot
    svg.selectAll("dot")
        .data(data)
      .enter().append("circle")
        .attr("r", 3.5)
        .attr("cx", function(d,i) { return x(i+1); })
        .attr("cy", function(d) { return y(d.pc); });

    // Add the X Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    // Add the Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);









}








  function create_bar_chart(data,position) {



 var color = d3.scale.ordinal()
      .range(["#67abc4", "#6a86a2", "#d0123c", "#2a16a2"]);


     var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;




 var x = d3.scale.linear().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").tickValues([0,1, 2,3, 4, 5, 6, 7,8,9,10]);


    // .tickValues([1, 2,3, 4, 5, 6, 7,8,9,10]);

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(10);

// Define the line
var valueline = d3.svg.line()
    .x(function(d,i) { return x(i+1); })
    .y(function(d) { return y(d.pc); });
    
// Adds the svg canvas
var svg = d3.select(position) 
    .append("svg")  .attr("id", "svg_bar")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", 
              "translate(" + margin.left + "," + margin.top + ")");



     x.domain([d3.min(data, function(d, i) { return i+1; })     , d3.max(data,  function(d, i) { return i+1; }) ]);
    // x.domain(d3.extent(data, function(d, i) { return i; }));
    y.domain([0, d3.max(data, function(d, i) { return d.pc; })]);

 

    // Add the scatterplot
    svg.selectAll("dot")
        .data(data)
      .enter() .append("rect")
         .attr("id", "svg_bar2" )
        .attr("x", function(d,i) { return x(i+1); })
        .attr("y", function(d) { return y(d.pc); })
        .attr("width", 50)
      .attr("height", function(d) { return height - y(d.pc) })
      .style("fill", function(d) { 

        if (d.label == 1)
          col = 'red';
        else if (d.label == 2)
           col = 'blue';


        return col; })



        ;

    // Add the X Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    // Add the Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);






    }











</script>



  



    </body>
    </html>